@import "ui-variables";

atom-text-editor.editor {
  .syntax--source.syntax--origin .syntax--meta{
    &.syntax--header {
      color: @text-color-info;
    }

    &.syntax--addition {
      color: @text-color-success;
    }

    &.syntax--deletion {
      color: @text-color-error;
    }
  }
}
